@using OrderRice.Model
@using OrderRice.Service

@inject OrderRiceService orderRiceService

<MudText Typo="Typo.h3" Align="Align.Center">Đặt cơm trưa</MudText>
<hr />
<MudPaper Square="true">
    <MudContainer Style="display: flex; justify-content: center;">
        <div>
            @if (dishs == null)
            {
                <p><em>Loading dishes...</em></p> }
            else
            {
                @if (dishs.Count > 0)
                {
                    <MudText Typo="Typo.subtitle1">Menu Updated: ../../2021</MudText>

                    @if (isOrdered)
                    {
                        <MudText Typo="Typo.subtitle1">Tên: @Name</MudText>
                    }
                    else
                    {
                        @*<input type="text" @bind="@Name" @bind:event="oninput" />*@
                        <MudItem xs="12">
                            <MudTextField @bind-Value="Name"
                                          Label="Tên:"
                                          Variant="Variant.Outlined"
                                          Margin="Margin.Dense"
                                          Immediate="true">
                            </MudTextField>
                        </MudItem>
                    }

                    <MudText Typo="Typo.subtitle1">Chọn món ăn:</MudText>

                    <DishItemList @ref="_dishItemList" @bind-DishSelecteds="DishSelecteds" Dishs="@dishs" />
                    
                    @if (isOrdered)
                    {
                        <MudText Typo="Typo.subtitle1">Ghi chú: @Note</MudText>
                    }
                    else
                    {
                        <MudItem xs="12">
                            <MudTextField @bind-Value="Note"
                                          Label="Ghi chú:"
                                          Placeholder="Momo, Chuyển khoản..."
                                          Variant="Variant.Outlined"
                                          Margin="Margin.Dense"
                                          Immediate="true">

                            </MudTextField>
                        </MudItem>
                    }

                    @if (!isOrdered)
                    {
                        bool isSubmit = (Name?.Length >= 2 && DishSelecteds.Count > 0) ? true : false;
                        <MudButton Variant="Variant.Filled"
                                   Style="background-color: green; color: white; width: 200px; height: 60px;"
                                   Class="ma-2"
                                   Disabled="@(!isSubmit)"
                                   OnClick="HandleUserSubmit">
                            Đặt
                        </MudButton>
                    }
                    else
                    {
                        <MudText Typo="Typo.subtitle1" Style="display:flex; color: green;">
                            @(Name + (Name != null?": ":null))
                            @foreach (var dish in DishSelecteds)
                            {
                                @(dish.name + " ")
                            }
                            &nbsp;
                            @(Note)
                            @*Tổng tiền: *@
                        </MudText>
                        <MudAlert Severity="Severity.Success">Đặt cơm thành công!</MudAlert>
                        <MudButton Variant="Variant.Filled"
                                   Color="Color.Info"
                                   Style="width: 200px; height: 60px;"
                                   Class="ma-2" OnClick="HandleClickDatGium">
                            Đặt giùm người khác
                        </MudButton>
                    }
                }
                else
                {
                    <MudText Typo="Typo.h5">Chưa có thực đơn hôm nay!</MudText>
                }
            }
        </div>
    </MudContainer>
</MudPaper>


@code{
    DishItemList _dishItemList;
    List<Dish> dishs { get; set; } = new();
    List<Dish> DishSelecteds { get; set; } = new();
    string Name { get; set; }
    string Note { get; set; }
    bool isOrdered { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        dishs = await orderRiceService.GetDishAsync();
    }

    int SumPriceOrder()
    {
        int tempSum = 0;
        {
            foreach (var dish in DishSelecteds)
            {
                tempSum += dish.gia;
            }
        }
        return tempSum;
    }

    async void HandleUserSubmit()
    {
        User temp_user = new User()
        {
            id = Guid.NewGuid().ToString(),
            name = Name,
            dishs = DishSelecteds,
            note = Note,
            tongTien = SumPriceOrder(),
            tienDaNhan = 0
        };
        bool result = await orderRiceService.AddUserAsync(temp_user);
        if (result)
        {
            isOrdered = true;
        }
        else
        {
            isOrdered = false;
            //TODO: show message error: add todo fail
        }
    }
    void HandleClickDatGium()
    {
        Name = "";
        Note = "";
        isOrdered = false;
        DishSelecteds = new();
        _dishItemList.Refesh();
    }
}

